.title-xl {
    font: var(--title-xl);
}

.title-lg {
    font: var(--title-lg);
}

.title-md {
    font: var(--title-md);
}

.title-sm {
    font: var(--title-sm);
}

.text {
    font: var(--text);
}

.text-sm {
    font: var(--text-sm);
}

.highlight {
    color: var(--text-highlight);
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}